<a  href="/">
  <button onclick="openNewWebsite()" class="logout-btn"  style="  position: absolute;
  top: 30px;
  right: 480px;
  padding: 0.5rem;
  color: white;
  border: none;
   ">Logout</button>
</a>
<script>
  function openNewWebsite() {
      window.history.replaceState({}, "", ""); // Update history (optional)
      window.location.replace("http://localhost:5000/"); // Open in same tab without adding history entry
    }
  
  </script>

<div class="header__button">
  <button class="searchBtn" aria-expanded="false">
    Search
    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</div>






<div class="admin-title">
  <h2>Notes</h2>
  <a href="/add-post" class="button">+ Add New</a>
</div>





<ul class="admin-posts">

  <% data.forEach(post => { %>

    <li class="show-note" style="border: 4px solid #000000; border-radius: 5px; margin: 10px; padding: 10px;">
      <a href="/post/<%= post._id %>">
        <%= post.title %> &nearr;
      </a>
      <div class="admin-post-controls">
        <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>

        <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete" class="btn-delete btn">
        </form>
      </div>
    </li>

  <% }) %>
</ul>
