<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
        .header h1 {
            font-size: 36px;
            margin-bottom: 10px;
        }
        .header p {
            font-size: 18px;
            color: #777;
        }
        .content {
            margin-bottom: 20px;
        }
        .content p {
            font-size: 16px;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>About Notes App</h1>
        </div>
        <div class="content">
            <p>Notes App is a simple and easy-to-use note-taking app built to help you stay organized and productive. This website was made by the developer Yazeed Migdadi using Node.js, MongoDB, and Express.</p>
        </div>
    </div>
</body>
</html>