
<div class="author">
    <h1 class="author__heading">Welcome</h1>
    <p class="author__body">Stay organized and productive and professional  </p>
    <a href="admin">
      <button type="button" class="btn btn-primary btn-lg btn-black rounded-pill">
        Log In
      </button>
  </a>
  </div>
  
  <img src="/img/download.jpg" alt="person looking out through window" class="hero-image" width="981" height="528">
  
